body {
    font: 18px 'Futura', 'Arial';
    background-color: lightblue;
}

#container {
    width: 550px;
    height: 675px;
    padding: auto;
    margin: auto;
    position: relative;
    text-align:center;
    background-color: lightblue;
}

#page-wrap {
    width: 550px
    margin: auto;
}
#content-contact {
    position: auto;
}

#content-summary {
    max-width: 650px;
    padding-left: 50px;
}

.bottom-center {
    position: absolute;
    bottom: 0;
    right: 24px
}

#content-education {
    font-size: 1em;
    font-weight: bold;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#content-professional {
    font-size: 1em;
    font-weight: bold;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.block-content {
    font-size: 18px;
}

.block-date {
    font-size: 18px;
}

.date {
	justify-content: right;
}

#pic {
    opacity: 0.2;
    position: right;
}

img.resize {
    width: 400px;
    height: auto;
}

h1 {
    font-size: 3em;
    border-bottom: 3px solid black;   
}

h2 {
    font-size: 2em;
    padding-top: 64px;
}

h3 {
    font-size: 24px;
    margin: 0px;
    padding: 0px;
}

h4 {
    font-size: 24px;
    border-bottom: solid 3px black;
}

h5 {
    font-size: 18px;
    margin: 0px;
    padding-top: 0px;
}

p {
    font-size: 18px;
    font-style: oblique;
}